body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e7e2e7;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%; 
    gap: 30px;
    align-items: center;
}

.busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#texto-numero {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 15px;
    white-space: nowrap;
}

.busca-input-area {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.busca-input-area .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.busca-input-area .button {
    background-color: #e78896;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.busca-input-area .button:hover {
    background-color: #ab646a;
}

.info-area {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 250px;
}

.img-pokemon {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.img-pokemon img {
    max-width: 100vh;
    max-height: 100vh;
    object-fit: contain;
    display: block;
}

.txt-perfil {
    flex-grow: 1;
    min-width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.txt-perfil p {
    margin: 8px 0;
    font-size: 1.05em;
    color: #555;
    line-height: 1.4;
}

.txt-perfil strong {
    color: #333;
    margin-right: 5px;
}
